@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";
/* Base Styles */
@font-face {
    font-family: bougan;
    src: url('font/Bougan SSi.ttf') format('truetype');
}
#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  position: relative;
  z-index: 597;
  float: left;
  margin-top: 25px;
  width:100%;
}
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  padding: 10px;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  z-index: 599;
  cursor: default;
}
#cssmenu > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
#cssmenu > ul ul li {
  float: none;
}
#cssmenu > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
/* Theme Styles */
#cssmenu > ul a:link {
  text-decoration: none;
}
#cssmenu > ul a:active {
  color: #ffa500;
}
#cssmenu li {
  padding: 0;
  color: #000;
}
#cssmenu {
 font-family: bougan; 
/* width: auto; */
/* -webkit-border-radius: 3px; */
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
/* border-radius: 3px; */
/* background: #1b9bff; */
/* font-size: 13px; */
-moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
/* -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3); */
/* box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3); */
/* background: #f9f3e9; */
text-align: center;
/* height: 70px; */
margin-top: 15px;
margin-bottom: 2%;
position: relative;
width: 990px;
margin: 0 auto;
}
#cssmenu > ul {
 
}
#cssmenu > ul:before {
  content: '';
  display: block;
}
#cssmenu > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu > ul > li {
padding: 5px 0px;
}
#cssmenu > ul > li > a,
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:visited {
padding: 7px 5px;
display: block;
color: #404040;
letter-spacing: 1px;
font-size: 14px;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a {
 color: #000;

 }
#cssmenu li li a {
color: #000000;
font-size: 12px;
letter-spacing: 1px;
}
#cssmenu li li a:hover {
  color: #000;
   border-color: #5c5c5c;
   font-weight:bold;
}
#cssmenu ul ul {
margin: 0 5px;
padding: 0 5px;
float: none;
border-top: none;
right: 0;
left: 0;
margin-top: -8px;
 }
#cssmenu ul > li > ul > li {
  margin: 0 10px 0 0;
  position: relative;
  padding: 0;
  float: left;
}
#cssmenu ul > li > ul > li > a {
  padding: 10px 20px 10px 10px;
  display: block;
}
#cssmenu ul > li > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #8b8b8b;
}
#cssmenu ul > li > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #5c5c5c;
}
#cssmenu ul ul ul {
  width: 200px;
  top: 100%;
  border: 2px solid #1b9bff;
}
#cssmenu ul ul ul li {
  float: none;
}
